In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/campusx-official/deploy-ml-model-as-android-app/main/students_placement.csv")

In [6]:
df

     cgpa   iq  profile_score  placed
0    5.97  106             61       0
1    6.83  113             77       0
2    6.60  110             61       0
3    5.54  113             68       0
4    6.84  102             67       0
..    ...  ...            ...     ...
295  6.44  107             54       0
296  6.09  108             52       0
297  7.68  101             70       1
298  7.00   90             28       1
299  4.79  118             70       0

[300 rows x 4 columns]

In [7]:
df.shape

(300, 4)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cgpa           300 non-null    float64
 1   iq             300 non-null    int64
 2   profile_score  300 non-null    int64
 3   placed         300 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 9.5 KB

In [11]:
df.describe()

             cgpa          iq  profile_score      placed
count  300.000000  300.000000     300.000000  300.000000
mean     6.812000  102.570000      60.043333    0.506667
std      0.971568    8.326034      14.282440    0.500791
min      4.600000   83.000000      23.000000    0.000000
25%      6.010000   96.000000      51.000000    0.000000
50%      6.840000  103.500000      60.000000    1.000000
75%      7.502500  109.000000      69.000000    1.000000
max      9.300000  121.000000     100.000000    1.000000

In [14]:
df.sample(5)

     cgpa   iq  profile_score  placed
239  6.92   99             85       1
136  7.54   98             67       1
19   7.37   99             77       1
177  6.66  105             67       1
40   6.76  101             64       0

In [16]:
X = df.drop(columns=['placed'])
y = df['placed']

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [21]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf = RandomForestClassifier()

rf.fit(X_train,y_train)

y_pred = rf.predict(X_test)

accuracy_score(y_test,y_pred)

0.9

In [19]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

knn = KNeighborsClassifier(n_neighbors=5)

knn.fit(X_train,y_train)

y_pred = knn.predict(X_test)

accuracy_score(y_test,y_pred)

0.9

In [20]:
import pickle 
pickle.dump(knn,open('model.pkl','wb'))